# Backend API
VITE_API_BASE_URL=http://192.168.144.30:8000

# MediaMTX WHEP playback
VITE_WHEP_URL=http://127.0.0.1:8889/cam/whep

# Stream width for UI label (1920 => 1080p, 1280 => 720p)
VITE_STREAM_WIDTH=1920
